<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Appointment</title>
</head>
<body>
<a href="/"> Last Page </a><br>
<form action="/appointments/add" method="post">
  <input type="datetime-local" name="datetime"><br>
  <select name="patient.id">
    <option th:each="patient : ${patients}" th:text="${patient.name}" th:value="${patient.id}"></option>
  </select><br>
  <select name="doctor.id">
    <option th:each="doctor : ${doctors}" th:text="${doctor.name}" th:value="${doctor.id}"></option>
  </select><br>
    <input type="submit" name="Add Appointment">
</form>
</body>
</html>