<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Doctor</title>
</head>
<body>
<a href="/"> Last Page </a><br>
<form action="/doctors/add" method="post" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="surname" placeholder="Surname"><br>
  <input type="email" name="email" placeholder="Email"><br>
  <select name="specialty">
    <option value="FAMILY_PHYSICIANS">FAMILY_PHYSICIANS</option>
    <option value="INTERNISTS">INTERNISTS</option>
    <option value="PSYCHIATRISTS">EMERGENCY_PHYSICIANS</option>
    <option value="PSYCHIATRISTS">PSYCHIATRISTS</option>
  </select><br>
    <input type="number" name="phoneNumber" placeholder="Phone Number"><br>
    <input type="file" name="image"><br>
    <input type="submit" name="Add Doctor">
</form>
</body>
</html>