<!doctype html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Doctors</title>
        <link rel="shortcut icon" href="/assets/images/fav.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/assets/images/fav.jpg">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/assets/plugins/testimonial/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/assets/plugins/testimonial/css/owl.theme.min.css">
        <link rel="stylesheet" href="/assets/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    </head>
    <body>
         <header>
             <div class="container-fluid header">
                 <div class="logo-row">
                    <div class="container">
                        <div class="row lorow">
                            <div class="col-md-6 logo-col">
                                 <img src="/assets/images/logo.jpg" alt="">
                                   <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                     <i class="fas fa-bars"></i>
                                    </button>
                             </div>
                             <div class="col-md-6 d-none d-lg-block cno-coll">
                                 <p><i class="fas fa-mobile-alt"></i> Call Us: 0312-3-00-03</p>
                             </div>
                        </div>
                    </div>

                 </div>
                 <div id="menu-jk" class="nav-row">
                     <div class="container">
                         <div class="row navrow">
                             <nav class="navbar navbar-expand-lg navbar-light bg-light">



                                 <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                     <ul class="navbar-nav">
                                         <li class="nav-item">
                                             <a class="nav-link" aria-current="page" href="/">Home</a>
                                         </li>
                                         <li class="nav-item">
                                             <a class="nav-link active" href="/doctors">Doctor</a>
                                         </li>
                                         <li class="nav-item">
                                             <a class="nav-link" href="/patients">Patient</a>
                                         </li>
                                         <li class="nav-item">
                                             <a class="nav-link" href="/appointments">Appointments</a>
                                         </li>
                                         <li class="nav-item">
                                             <a class="nav-link" href="/appointments/add">Queue Up Appointments</a>
                                         </li>

                                     </ul>
                                 </div>

                                </nav>
                         </div>
                     </div>
                 </div>
             </div>
         </header>

<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Doctors</h2>
            <ul>
                <li> <a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Doctors</li>
            </ul>
        </div>
    </div>
</div>

<!-- ################# Our Team Starts Here#######################--->
    <section class="our-team" >
        <div class="container">
            <div class="section-title row">
                <h2>Doctors</h2>

            </div>
            <div class="row team-row" >
                <div class="col-md-3 col-sm-6" th:each="doctor : ${doctors}">
                    <div class="single-usr" >
                        <img th:if="${doctor.getProfilePic() != null}" th:src="@{/getImage(profilePic=${doctor.getProfilePic()})}" alt="">
                        <div class="det-o" >
                            <h4 th:text="${doctor.name}"></h4>
                            <h4 th:text="${doctor.surname}"></h4>
                            <i th:text="${doctor.email}"></i><br>
                            <i th:text="${doctor.specialty.name()}"></i><br>
                            tel: <i th:text="${doctor.phoneNumber}"></i><br>
                            <a th:href="@{/doctors/delete(id=${doctor.id})}" style="color: red">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
         <div class="row contact-rooo no-margin">
             <div class="container">
                 <div class="row">
                     <div style="padding:20px" class="col-sm-7">
                         <h2 >Add Doctor</h2> <br>
                         <form action="/doctors/add" method="post" enctype="multipart/form-data">
                         <div class="row cont-row">
                             <div  class="col-sm-3"><label> Enter Name </label><span>:</span></div>
                             <div class="col-sm-8"><input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  ></div>
                         </div>
                         <div class="row cont-row">
                             <div  class="col-sm-3"><label> Enter Surname </label><span>:</span></div>
                             <div class="col-sm-8"><input type="text" placeholder="Enter Surname" name="surname" class="form-control input-sm"  ></div>
                         </div>
                         <div  class="row cont-row">
                             <div  class="col-sm-3"><label>Email Address </label><span>:</span></div>
                             <div class="col-sm-8"><input type="email" name="email" placeholder="Enter Email Address" class="form-control input-sm"  ></div>
                         </div>
                         <div class="row cont-row">
                             <div  class="col-sm-3"><label>Enter Specialty </label><span>:</span></div>
                             <select class="col-sm-8" name="specialty" >
                                 <option value="FAMILY_PHYSICIANS">FAMILY_PHYSICIANS</option>
                                 <option value="INTERNISTS">INTERNISTS</option>
                                 <option value="PSYCHIATRISTS">EMERGENCY_PHYSICIANS</option>
                                 <option value="PSYCHIATRISTS">PSYCHIATRISTS</option>
                             </select>
                         </div><br>
                         <div  class="row cont-row">
                             <div  class="col-sm-3"><label>Mobile Number</label><span>:</span></div>
                             <div class="col-sm-8"><input type="number" name="phoneNumber" placeholder="Enter Mobile Number" class="form-control input-sm"  ></div>
                         </div>
                         <div  class="row cont-row">
                             <div  class="col-sm-3"><label>Enter Image</label><span>:</span></div>
                             <div class="col-sm-8"><input type="file" name="image" class="form-control input-sm"  ></div>
                         </div>
                         <div style="margin-top:10px;" class="row">
                             <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
                             <div class="col-sm-8">
                                 <button class="btn btn-success btn-sm" type="submit">Add Doctor</button>
                             </div>
                         </div>
                         </form>
                     </div>
                 </div>
             </div>
         </div>

    </body>

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="/assets/plugins/testimonial/js/owl.carousel.min.js"></script>
<script src="/assets/js/script.js"></script>

</html>